<!-- <p>views works!</p> -->
 <!-- <p>citizen-views works!</p> -->
 <div class="container">

    <!-- create the sidebar -->
    <!-- <div class="sidebar-panel">

        <div class="menu">

            <ul>

                <li>
                    <a href="#">
                        <i class='bx bx-home-alt-2'></i>
                        <span class="nav-item">Home </span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <i class='bx bx-search'></i>
                        <span class="nav-item">Explore </span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <i class='bx bx-bell'></i>
                        <span class="nav-item">Notifications </span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <i class='bx bx-chat'></i>
                        <span class="nav-item">Messages </span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <i class='bx bx-user'></i>
                        <span class="nav-item">Profile </span>
                    </a>
                </li>


                <li>
                    <a href="#">
                        <i class='bx bx-message-rounded-dots'></i>
                        <span class="nav-item">More </span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <i class='bx bx-log-out-circle'></i>
                        <span class="nav-item"> Logout </span>
                    </a>
                </li>

            </ul>

        </div>
    
    </div> -->
    <!-- end thr sidebar part -->

    <!-- create the main page -->
     <!-- brief sneak peek of all existing views -->
     <div class="brief">

        <div class="search">
            <input type="text" placeholder="Search...">
        </div>

        <div class="title">
            <h2> trending views </h2>
        </div>

        <div class="bottom">

            <!-- card 1 -->
            <div class="card">
                <!-- top part -->
                <div class="top-image">
                    <img src="" alt="header-image">
                    <!-- <img src="https://images.unsplash.com/photo-1720475376136-bf9bf6c0c782?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwzfHx8ZW58MHx8fHx8" alt="header-image"> -->
                    <span> L </span>
                </div>

                <!-- bottom part -->
                 <div class="bottom-text">
                    <p class="heading">
                        <label> did we really go to the moon? </label>
                        <span> new </span>
                    </p>

                    <p class="description">
                        <label> recent events shed doubt on the occurrence of the moon landing... </label>
                        <span> 7m read </span>
                    </p>
                 </div>


            </div>
            <!-- end card 1 -->

            <!-- card 2 -->
            <div class="card">
                <!-- top part -->
                <div class="top-image">
                    <!-- <img src="" alt="header-image"> -->
                    <img src="https://images.unsplash.com/photo-1720475376136-bf9bf6c0c782?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwzfHx8ZW58MHx8fHx8" alt="header-image">
                    <span> L </span>
                </div>

                <!-- bottom part -->
                 <div class="bottom-text">
                    <p class="heading">
                        <label> did we really go to the moon? </label>
                        <span> new </span>
                    </p>

                    <p class="description">
                        <label> recent events shed doubt on the occurrence of the moon landing... </label>
                        <span> 7m read </span>
                    </p>
                 </div>


            </div>
            <!-- end card 2 -->


        </div>


     </div>

     <div class="detailed">

        <!-- <div class="button-section" *ngIf="role === citizen"> -->
        <div class="button-section">
            <label id="my-view"> my views </label>
            <label (click)="addView()" id="add-view"> add view </label>
        </div>

        <div class="board">

            <div class="top">
                <img src="https://images.unsplash.com/photo-1720475376136-bf9bf6c0c782?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwzfHx8ZW58MHx8fHx8" alt="background-pic">
            </div>

            <!-- bottom div with the main content -->
             <div class="middle">
                    <h2 class="title"> 
                        did the moon landing really happen
                    </h2>
                    <p class="description">
                        recent evidence has outlawed the possibility of the moon landing
                        having ever occurred
                    </p>

                    <!-- avtars -->
                     <p class="avatar">
                        <label class="left">
                            <img src="" alt="user-pic">
                            <span> by mkurugenzi </span>
                        </label>

                        <label class="right">
                            30 minutes ago
                        </label>

                     </p>
 
             </div>

             <div class="bottom">
                <p>
                    Because the top and bottom edges are both flat, it would be impossible to
                    see both of them at the same time. People generally look slightly downward
                    towards their screens, so for the most natural look, reveal a little bit of the
                    top edge and hide the bottom edge.
                </p>
             </div>

             
             <div class="priviledges">

                <!-- allow for users to like comment and dislike -->
                 <!-- *ngIf="role === citizen"> -->
                <div class="action">
                    <i class='bx bx-like'></i>
                    <label> 100</label>
                </div>
                <div class="action">
                    <i class='bx bx-dislike'></i>
                    <label> 100</label>
                </div>
                <div class="action">
                    <i class='bx bx-chat'></i>
                    <label> 100</label>
                </div>

                <!-- this will be for both users and governemnt officials -->
                <div class="action">
                    <i class='bx bx-bookmark-alt' ></i>
                    <label> 100</label>
                </div>

                <!-- *ngIf="role === official"> -->
                <div class="action">
                    <label (click)="getSummary()" id="get-summary"> get summary </label>
                </div>

            
            </div>


        </div>

     </div>
     

    <!-- end the main page -->

 </div>


 <!-- adding a view popup. to appear when button is clicked -->
<div  class="popup" id="popup-1">
    <div class="overlay"></div>
       <div class="content">
          <div class="close-btn" (click)="addView()">&times;</div>
          <h1> Add View Form </h1>
             <form>
                content will be placed hapa
 
             </form>
       </div>
  </div>

  <!-- getting the summary popup -->
  <div  class="popup" id="popup-2">
    <div class="overlay"></div>
       <div class="content">
          <div class="close-btn" (click)="getSummary()">&times;</div>
          <h1> Getting summary form </h1>
             <form>
                getting the summary form
 
             </form>
       </div>
  </div>

