<!-- <p>forgot-password works!</p> -->

<div class="container">
    <form>

        <div class="form-group">
            <label for="email"> Enter Email </label>    <br/>
            <input type="text" placeholder="Enter Email">
        </div>

        <div class="form-group">
            <button>
                Submit
            </button>
        </div>

    </form>

</div>

<div class="container">
    <form>

        <div class="form-group">
            <label for="password"> Enter New Password </label>    <br/>
            <input type="text" placeholder="Enter password">
        </div>

        <div class="form-group">
            <label for="confirm_password"> Confirm New Password </label>    <br/>
            <input type="text" placeholder="Confirm password">
        </div>

        <div class="form-group">
            <button>
                Reset Password
            </button>
        </div>

    </form>

</div>




