{% extends 'base.html' %}

{% block title %} Homepage {% endblock %}

{% block body %}

    <h3>its works!</h3>


    {% if users | length < 1 %}
        <img src="/static/images/blank.jpg" alt="blank canvas">
        <h2> You currently have no users. Try adding a new user? </h2>

    {% else %}
        <h1 align="center"> My Users </h1>
        
        <table>
            <thead>
                <tr>
                    <th>id</th>
                    <th>name</th>
                    <th>email</th>
                    <th>role</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
              <tr>
                <td >{{user.id}}</td>  
                <td >{{user.name}}</td>  
                <td >{{user.email}}</td>  
                <td >{{user.role}}</td>  
             </tr>
              {% endfor %}
            </tbody>
          </table>
 
    {% endif %}
   

{% endblock %}