<!-- <p>educate-chat works!</p> -->

<div class="container">

    <!-- place the sidebar here -->
    <!-- <nav class="sidebar">
        <header>
          <div class="image-text">
            <span class="image">
              <img src="https://cdn.pixabay.com/photo/2021/11/05/12/25/woman-6771278_640.jpg" alt="logo" />
            </span>
            <div class="text header-text">
              <span class="main">Username</span>
              <span class="sub">user id</span>
            </div>
          </div>
          <i (click)="displaySidebar()" class="bx bx-chevron-right toggle"></i>
        </header>
  
        <div class="menu-bar">
          <div class="menu">
              <li class="search-bar">
                <i class="bx bx-search icons"></i>
                <input type="search" placeholder="Search..." />
              </li>

            <div class="segments">

                <div class="today"> <span> today </span>
                    <ul class="history-links">
                        <label> what will i have for...</label>
                        <label> what is science ..</label>
                        <label> why do we dream?...</label>
                    </ul>
                </div>

                <div class="yesterday"> <span> yesterday </span>
                    <ul class="history-links">
                        <label> what will i have for...</label>
                        <label> what is science ..</label>
                        <label> why do we dream?...</label>
                    </ul>
                </div>

                <div class="last-week"> <span> last 7 days </span>
                    <ul class="history-links">
                        <label> what will i have for...</label>
                        <label> what is science ..</label>
                        <label> why do we dream?...</label>
                    </ul>
                </div>

            </div>
          </div>
  
          <div class="bottom-content">
            <li class="nav-link">
              <a href="#">
                <i class="bx bx-log-out icons"></i>
                <span class="text nav-text">Log Out</span>
              </a>
            </li>

          </div>

        </div>

      </nav> -->

    <!-- this is the main chatting page -->
    <section class="msger">
        <header class="msger-header">
        <div class="msger-header-title">
            <i class="fas fa-comment-alt"></i> bill name
        </div>
        <div class="msger-header-options">
            <span><i class="fas fa-cog"></i></span>
        </div>
        </header>
    
        <main class="msger-chat">
        <div class="msg left-msg">
            <div
            class="msg-img"
            style="background-image: url(https://i.pinimg.com/236x/b3/e4/ad/b3e4adac3c66e6fc17f9025e17a514a3.jpg)"
            ></div>
    
            <div class="msg-bubble">
            <div class="msg-info">
                <div class="msg-info-name">BOT</div>
                <div class="msg-info-time">12:45</div>
            </div>
    
            <div class="msg-text">
                Hi, welcome to citizenConnect360. Which bill will we be
                discussing today? 😄
            </div>
            </div>
        </div>
    
        <div class="msg right-msg">
            <div
            class="msg-img"
            style="background-image: url(https://cdn.pixabay.com/photo/2020/06/08/09/01/hair-5273705_640.jpg)"
            ></div>
    
            <div class="msg-bubble">
            <div class="msg-info">
                <div class="msg-info-name"> citizen name</div>
                <div class="msg-info-time">12:46</div>
            </div>
    
            <div class="msg-text">
                id like to learn about the finance bill!
            </div>
            </div>
        </div>
        </main>
    
        <form class="msger-inputarea">
        <input type="text" class="msger-input" placeholder="Enter your message...">
        <button type="submit" class="msger-send-btn">Send</button>
        </form>
    </section>
  
</div>