<!-- <p>educate-chat works!</p> -->

<div class="container">

    <!-- place the sidebar here -->
    <div #sidebar class="sidebar">

      <!-- top most section -->
      <div class="top">
        <!-- toggle button -->
          <i (click)="showSidebar()" class="bx bx-menu" id="btn"></i>
      </div>

      <!-- user section -->
      <div class="user">
        <img src="https://cdn.pixabay.com/photo/2015/02/19/13/15/man-642075_640.jpg" alt="user-avatar" class="user-img">
        <div>
          <p class="user-name"> Sir Lancelot </p>
          <p class="user-role"> citizen </p>
        </div>

      </div>

      <div class="main-sidebar">
                <!-- list of menu items -->
              <ul class="top">
                  <li>
                    <a href="#">
                        <i class='bx bx-home-alt-2'></i>
                        <span class="nav-item"> today </span>
                    </a>
                    <span class="tooltip"> today </span>
                    
                </li>
        
                <li>
                    <a href="#">
                        <i class='bx bx-search'></i>
                        <span class="nav-item"> yesterday </span>
                    </a>
                    <span class="tooltip"> yesterday </span>
                </li>
        
                <li>
                    <a href="#">
                        <i class='bx bx-bell'></i>
                        <span class="nav-item"> previous 7 days </span>
                    </a>
                    <span class="tooltip"> previous 7 days </span>
                </li>
                </ul>
        
                <ul class="bottom">
                  <li>
                    <a href="#">
                        <i class='bx bx-message-rounded-dots'></i>
                        <span class="nav-item">settings </span>
                    </a>
                    <span class="tooltip"> settings </span>
                </li>
        
                <li>
                    <a href="#">
                        <i class='bx bx-log-out-circle'></i>
                        <span class="nav-item"> logout </span>
                    </a>
                    <span class="tooltip"> logout </span>
                </li>
                </ul>
      </div>
      

    </div>

    <div class="main-content">
         <!-- this is the main chatting page -->
         <section class="msger">
          <header class="msger-header">
            <div class="msger-header-title">
              <i class="fas fa-comment-alt"></i> SimpleChat
            </div>
            <div class="msger-header-options">
              <span><i class="fas fa-cog"></i></span>
            </div>
          </header>
        
          <main class="msger-chat" #msgerChat>
            <div class="msg left-msg">
              <div
               class="msg-img"
               style="background-image: url(https://image.flaticon.com/icons/svg/327/327779.svg)"
              ></div>
        
              <div class="msg-bubble">
                <div class="msg-info">
                  <div class="msg-info-name">openAI</div>
                  <div class="msg-info-time">12:45</div>
                </div>
        
                <div class="msg-text">
                  Hi, welcome to citizenConnect360. What bill will we discuss today? 😄
                </div>
              </div>
            </div>
        
            <div class="msg right-msg">
              <div
               class="msg-img"
               style="background-image: url(https://image.flaticon.com/icons/svg/145/145867.svg)"
              ></div>
        
              <div class="msg-bubble">
                <div class="msg-info">
                  <div class="msg-info-name">Lancelot</div>
                  <div class="msg-info-time">12:46</div>
                </div>
        
                <div class="msg-text">
                  You can change your name in JS section!
                </div>
              </div>
            </div>
          </main>
        
          <form class="msger-inputarea" #msgerForm>
            <input type="text" class="msger-input" placeholder="Enter your message..." #msgerInput>
            <button type="submit" class="msger-send-btn">Send</button>
          </form>
        </section>
        
        

    </div>
  
</div>



