<!-- <p>educate-chat works!</p> -->

<div class="container">

    <!-- place the sidebar here -->
    <div #sidebar class="sidebar">

      <!-- top most section -->
      <div class="top">
        <div class="logo">
          <i class="bx bxl-codepen"></i>
          <span> code commerce </span>

        </div>

        <!-- toggle button -->
          <i (click)="showSidebar()" class="bx bx-menu" id="btn"></i>
      </div>

      <!-- user section -->
      <div class="user">
        <img src="https://cdn.pixabay.com/photo/2015/02/19/13/15/man-642075_640.jpg" alt="user-avatar" class="user-img">
        <div>
          <p class="user-name"> mkuu </p>
          <p class="user-role"> admin </p>
        </div>

      </div>

        <!-- list of menu items -->
        <ul>
      
          <li>
              <a href="#">
                  <i class='bx bx-home-alt-2'></i>
                  <span class="nav-item"> Dashboard </span>
              </a>
              <span class="tooltip"> Dashboard </span>
          </li>

          <li>
              <a href="#">
                  <i class='bx bx-search'></i>
                  <span class="nav-item"> Views </span>
              </a>
              <span class="tooltip"> Views </span>
          </li>

          <li>
              <a href="#">
                  <i class='bx bx-bell'></i>
                  <span class="nav-item"> Polls </span>
              </a>
              <span class="tooltip"> Polls </span>
          </li>

          <li>
              <a href="#">
                  <i class='bx bx-chat'></i>
                  <span class="nav-item"> Users </span>
              </a>
              <span class="tooltip"> Users </span>
          </li>

          <li>
              <a href="#">
                  <i class='bx bx-user'></i>
                  <span class="nav-item">Profile </span>
              </a>
              <span class="tooltip"> Dashboard </span>
          </li>


          <li>
              <a href="#">
                  <i class='bx bx-message-rounded-dots'></i>
                  <span class="nav-item">More </span>
              </a>
              <span class="tooltip"> Dashboard </span>
          </li>

          <li>
              <a href="#">
                  <i class='bx bx-log-out-circle'></i>
                  <span class="nav-item"> Logout </span>
              </a>
              <span class="tooltip"> Dashboard </span>
          </li>

      </ul>



    </div>

    <div class="main-content">
         <!-- this is the main chatting page -->
         <section class="msger">
          <header class="msger-header">
            <div class="msger-header-title">
              <i class="fas fa-comment-alt"></i> SimpleChat
            </div>
            <div class="msger-header-options">
              <span><i class="fas fa-cog"></i></span>
            </div>
          </header>
        
          <main class="msger-chat" #msgerChat>
            <div class="msg left-msg">
              <div
               class="msg-img"
               style="background-image: url(https://image.flaticon.com/icons/svg/327/327779.svg)"
              ></div>
        
              <div class="msg-bubble">
                <div class="msg-info">
                  <div class="msg-info-name">BOT</div>
                  <div class="msg-info-time">12:45</div>
                </div>
        
                <div class="msg-text">
                  Hi, welcome to SimpleChat! Go ahead and send me a message. 😄
                </div>
              </div>
            </div>
        
            <div class="msg right-msg">
              <div
               class="msg-img"
               style="background-image: url(https://image.flaticon.com/icons/svg/145/145867.svg)"
              ></div>
        
              <div class="msg-bubble">
                <div class="msg-info">
                  <div class="msg-info-name">Sajad</div>
                  <div class="msg-info-time">12:46</div>
                </div>
        
                <div class="msg-text">
                  You can change your name in JS section!
                </div>
              </div>
            </div>
          </main>
        
          <form class="msger-inputarea" #msgerForm>
            <input type="text" class="msger-input" placeholder="Enter your message..." #msgerInput>
            <button type="submit" class="msger-send-btn">Send</button>
          </form>
        </section>
        
        

    </div>
  
</div>



