<!-- <p>educate works!</p> -->
<div class="container">

    <div class="brief">

        <div class="search">
            <input type="text" placeholder="Search...">
        </div>

        <div class="title">
            <h2> trending bills </h2>
        </div>

        <div class="bottom">

            <!-- card 1 -->
            <div class="card">
                <!-- top part -->
                <div class="top-image">
                    <img src="" alt="header-image">
                    <!-- <img src="https://images.unsplash.com/photo-1720475376136-bf9bf6c0c782?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwzfHx8ZW58MHx8fHx8" alt="header-image"> -->
                </div>

                <!-- bottom part -->
                 <div class="bottom-text">
                    <p class="heading">
                        <label> the finance bill </label>
                        <span> new </span>
                    </p>

                    <p class="description">
                        <label> in a recent turn of events, the president has dismissed the entire cabinet </label>
                        <span> 1hr read </span>
                    </p>
                 </div>


            </div>
            <!-- end card 1 -->

            <!-- card 2 -->
            <div class="card">
                <!-- top part -->
                <div class="top-image">
                    <img src="" alt="header-image">
                    <!-- <img src="https://images.unsplash.com/photo-1720475376136-bf9bf6c0c782?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwzfHx8ZW58MHx8fHx8" alt="header-image"> -->
                </div>

                <!-- bottom part -->
                 <div class="bottom-text">
                    <p class="heading">
                        <label> the agricultural bill </label>
                        <span> new </span>
                    </p>

                    <p class="description">
                        <label> in a recent turn of events, the president has dismissed the entire cabinet </label>
                        <span> 30m read </span>
                    </p>
                 </div>


            </div>
            <!-- end card 2 -->


        </div>


     </div>
     <!-- end the brief section -->

    <div class="main-content">

        <div  class="card">
            <span> </span>

            <div class="img">
                <img src="https://images.unsplash.com/photo-1720475376136-bf9bf6c0c782?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwzfHx8ZW58MHx8fHx8" alt="tour pic">
            </div>
    
            <div class="content">
                <p class="title"> finance bill </p>
                <p class="info">
                    <label class="proposed"> proposed by kimani ichungwa </label>   
                    <label class="tabled"> 3 days ago </label>   
                </p>
                <p class="desc"> 
                    the recently proposed finance bill for the fiscal year 2024/2025 proposes
                    an array of new changes that seem to create an array of mixed reactions.
                </p>
                <!-- use relative path to redirect to specific chat with ai -->
                <p routerLink=":id" class="chat"> converse with a.i </p>
            </div>
    
        </div>
        <!-- end the bill card div -->
    </div>



</div>


