
.navbar{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	height: 15vh;
	background-color: var(--primary);
	/* margin-bottom: 1rem; */
	padding: 10px;
	/* align-items: center; */
}



/* ************************	 */
/* to style the navbar logo later */
.navbar .logo{
	/* border: 1px solid; */
  /* background-color: red; */
	padding:  0rem .2rem;
	display: inline-flex;
	justify-content: baseline;
  gap: .3rem;
}

.logo svg{
	/* border: 1px solid; */
	width: 60px;
	height: 50px;
}
/* ********************* */

.logo label{
	font-size: xx-large;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	color: var(--white);
	font-weight: 700;
}

  .menu ul{
    display: flex;
    align-items: baseline;
    margin: .4rem;
    list-style: none;
    /* background-color: green;
    padding:  0rem .2rem; */

  }
  
  .menu li{
    text-decoration: none;
}

.menu li a{
	margin: .9rem;
	text-decoration: none;
	text-transform: capitalize;
	font-weight: 600;
	font-size: larger;
	color: var(--white);
}

.menu li a:hover{
	cursor: pointer;
	text-decoration: underline;
    text-underline-offset: .5rem;
	text-decoration-thickness: .1rem;
}

.auth-buttons ul{
	display:inline-flex;
	align-items: baseline;
	list-style: none;
}

.auth-buttons li{
	text-decoration: none;
	margin: .9rem;
	text-transform: capitalize;
	font-weight: 600;
	font-size: larger;
	color: var(--white);
}

.auth-buttons li:hover{
	cursor: pointer;
	text-decoration: underline;
    text-underline-offset: .5rem;
	text-decoration-thickness: .1rem;
}

#register{
	border:1.9px solid;
	padding: 5px 9px;
	border-radius: 10px;
	text-decoration: none !important;
}

#register:hover{
	color: var(--primary);
	background-color: var(--white);

}


/* style the active class later */
.active{
  /* these dont work?Being overun by rest of styling. add important tags */
  color: var(--black) !important;
  font-weight: 600 !important;
  text-decoration: underline !important;
  text-underline-offset: .5rem !important;
  text-decoration-thickness: .1rem !important;

}

/* additional navbar styling for logged in individuals */
.auth-buttons ul{
    display: flex;
    margin: .4rem;
    list-style: none;
  }
  
  .auth-buttons li{
    text-decoration: none;
    /* border: 1px solid; */
    padding: .4rem;
  }
  
  .auth-buttons .item{
    text-decoration: none;
    font-weight: 500;
    color: var(--white);
  }
  
  .auth-buttons .bx{
    color: var(--white);
  }

 .auth-buttons ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
.auth-buttons li {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /* display: inline-block; */
  }
  
.auth-buttons a {
    text-decoration: none;
    /* padding: 10px 15px; */
    display: block;
  }
  
  .dropdown-items {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    /* color: #000; */
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    overflow-y: scroll;
  }
  
  .dropdown-items a {
    padding: 10px 15px;
    white-space: nowrap;
	color: var(--primary);
	text-transform: capitalize;
	font-size: medium;
  }

.auth-buttons .dropdown-items a .bx{
    color: var(--black);
    font-size: larger;
    margin-right: .2rem;
  }

  .dropdown-items a:hover {
    background-color: #ddd;
}

  
  .has-dropdown:hover .dropdown-items,
  .has-dropdown.active .dropdown-items {
    display: block;
  }
  

  /* add responsiveness using media queries */
  
/* Responsive Styles */
/* @media only screen and (max-width: 1024px) {



} */

@media only screen and (max-width: 768px) {

  .navbar{
    /* background-color: yellow; */
    padding: 1px;
    display: block;
  }

  .navbar .logo{
    /* padding: 0px ; */
    gap: .1rem;
  }

  .logo svg{
    width: 30px;
    height: 20px;
  }

  .logo label{
    font-size: large;
  }

  .menu ul{
    margin: .1rem;

  }

  .menu li a{
    margin: .3rem;
  }

}

@media only screen and (max-width: 480px) {

  .navbar{
    /* background-color: purple; */
    display: block;
  }

  .navbar .logo{
    /* padding: 0px ; */
    gap: 0px;
  }

  .logo svg{
    width: 10px;
    height: 10px;
  }

  .logo label{
    font-size: medium;
  }

  .menu ul{
    margin: 1px;

  }

  .menu li a{
    margin: 1px;
  }

}
