
.navbar{
	width: 100%;
	display: flex;
	justify-content: space-between;
	height: 7vw;
	background-color: var(--primary);
	/* border: 1px solid red; */
	margin-bottom: 1rem;
	padding: 10px;
	align-items: center;
}

.navbar .logo{
	/* border: 1px solid; */
	padding: 1rem;
}

.logo img{
	border: 1px solid;
	height: 100px;	/*need to change this later*/
	width: 100px;
}

.logo label{
	font-size: larger;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	color: var(--white);
	font-weight: 700;
}

.menu ul{
	display:inline-flex;
	list-style: none;
	text-decoration: none;
	margin-right: 2rem;
    /* background-color: red; */
}

.menu li a{
	text-decoration: none;
	text-transform: capitalize;
	font-weight: 600;
	font-size: large;
	color: var(--white);
}



.menu li a:hover{
	cursor: pointer;
}

.auth-buttons li{
	display:inline-flex;
	align-items: center;
	color: var(--medium-gray);
	margin-right: 2rem;
}

.auth-buttons li:hover{
	cursor: pointer;
}

#register{
	border:1.9px solid;
	padding: 5px;
	border-radius: 10px;
}

/* style the active class later */
.active{
	/* border: 1px solid red; */
	text-decoration: underline;
	text-decoration-thickness: .1rem;
	text-decoration-color: var(--white);
    text-underline-offset: .5rem;
}