<!-- <p>navbar works!</p> -->
 <div class="container">
    
    <!-- begin on the navigation bar -->
    <div class="navbar">

        <!-- logo div -->
        <div class="logo">
            <img src="" alt="logo">

            <label> citizenConnect360 </label>
        </div>

        <!-- menu items -->
        <div class="menu">
            <ul>
                <li> 
                    <a href="#"> home</a> 
                </li>
            </ul>

            <ul>
                <li> 
                    <a href="#"> about us </a>
                </li>
            </ul>

            <ul>
                <li> <a href="#"> how it works </a> 
                </li>
            </ul>

            <ul>
                <li> 
                    <a href="#"> testimonials</a>
                </li>
            </ul>
        </div>

        <!-- far right login buttons -->
        <div class="auth-buttons">
            <button> login </button>
            <button> register </button>
        </div>

    </div>
    <!-- end the navigation bar -->
    
 </div>
