<!-- <p>navbar works!</p> -->
 <div class="container">
    
    <!-- begin on the navigation bar -->
    <div class="navbar">

        <!-- logo div -->
        <div class="logo">
            <!-- <img src="https://www.svgrepo.com/show/514314/statue-of-liberty.svg" alt="logo"> -->
            <img src="" alt="logo">

            <label> citizenConnect360<sup>o</sup> </label>
        </div>

        <!-- menu items -->
        <div class="menu">
            <!-- to be displayed if not authenticated -->
            <!-- <ul >
                <li> 
                    <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"> home</a> 
                </li>

                <li> 
                    <a href="#"> about us </a>
                </li>

                <li> 
                    <a href="#"> pillars </a> 
                </li>
 
                <li> 
                    <a href="#"> contact us </a>
                </li>
            </ul> -->

            <!-- to be displayed it theyre a citizen -->
            <ul >
                <li> 
                    <a routerLink="dashboard/:id" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"> dashboard </a> 
                </li>

                <li> 
                    <a routerLink="views/:id" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"> views </a>
                </li>

                <li> 
                    <a routerLink="incidents/:id"  routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"> incidents </a> 
                </li>
 
                <li> 
                    <a routerLink="polls/:id"  routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"> polls </a>
                </li>

                <li> 
                    <a routerLink="educate/:id"  routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"> educate </a>
                </li>
            </ul>
        </div>

        <!-- far right login buttons -->
        <div class="auth-buttons">
            <!-- to be displayed if not logged in -->
            <!-- <ul>
                <li routerLink="/auth/login" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" id="login"> login </li>
                <li routerLink="/auth/register" routerLinkActive="active"  id="register"> register </li>
            </ul> -->

            <!-- else show this -->   
                <ul>
                  <li class="has-dropdown">
                      <a  class="item">Account</a>
                      <i class='bx bx-chevron-down'></i>
                      <section class="dropdown-items">
                        <a ><i class='bx bx-user-circle'></i>Profile</a>
                        <a ><i class='bx bx-bookmark-alt' ></i>Bookmarks</a>
                        <a ><i class='bx bx-chat' ></i>FAQ<sub>'s</sub></a>
                        <a  routerLink=""><i class='bx bx-log-out-circle'></i>Logout</a>  
                      </section>
                    </li>
                </ul>
      
        </div>

    </div>
    <!-- end the navigation bar -->
    
 </div>

