<!-- <p>navbar works!</p> -->
 <div class="container">
    
    <!-- begin on the navigation bar -->
    <div class="navbar">

        <!-- logo div -->
        <div class="logo">
            <img src="" alt="logo">

            <label> citizenConnect360 </label>
        </div>

        <!-- menu items -->
        <div class="menu">
            <ul>
                <li> 
                    <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"> home</a> 
                </li>
            </ul>

            <ul>
                <li> 
                    <a href="#"> about us </a>
                </li>
            </ul>

            <ul>
                <li> 
                    <!-- basically how it works imeomoka -->
                    <a href="#"> pillars </a> 
                </li>
            </ul>

            <ul>
                <li> 
                    <a href="#"> contact us </a>
                </li>
            </ul>
        </div>

        <!-- far right login buttons -->
        <div class="auth-buttons">
            <ul>
                <li routerLink="/auth/login" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" id="login"> login </li>
                <li routerLink="/auth/register" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" id="register"> register </li>
            </ul>
        </div>

    </div>
    <!-- end the navigation bar -->
    
 </div>
