<!-- <p>admin works!</p> -->

<div class="container">

            <!-- place the sidebar here -->
            <div #sidebar class="sidebar">

                <!-- top most section -->
                <div class="top">
        
                  <!-- toggle button -->
                   <i (click)="showSidebar()" class="bx bx-chevron-right" id="btn"></i>
                </div>

        
                  <!-- list of menu items -->
                  <ul>
                
                    <li>
                        <a href="#">
                            <i class='bx bx-grid-alt'></i>
                            <span class="nav-item"> dashboard </span>
                        </a>
                        <span class="tooltip"> dashboard </span>
                    </li>
        
                    <li>
                        <a href="#">
                            <i class='bx bx-user-voice'></i>
                            <span class="nav-item"> views </span>
                        </a>
                        <span class="tooltip"> views </span>
                    </li>
        
                    <li>
                        <a href="#">
                            <i class='bx bx-poll' ></i>
                            <span class="nav-item"> polls </span>
                        </a>
                        <span class="tooltip"> polls </span>
                    </li>
        
                    
                    <li>
                        <a href="#">
                            <i class='bx bx-map'></i>
                            <span class="nav-item">incidents </span>
                        </a>
                        <span class="tooltip"> incidents </span>
                    </li>
                    
                    <li>
                        <a href="#">
                            <i class='bx bx-user'></i>
                            <span class="nav-item"> users </span>
                        </a>
                        <span class="tooltip"> users </span>
                    </li>
        
                    <li>
                        <a href="#">
                            <i class='bx bx-log-out-circle'></i>
                            <span class="nav-item"> Logout </span>
                        </a>
                        <span class="tooltip"> Dashboard </span>
                    </li>
        
                </ul>

        
              </div>
              <!-- end the sidebar -->
      
              <!-- main content div -->
               <div class="main-content">

                    <!-- begin the main content div -->
                    <div class="primary-content">

                        <!-- polls and views section -->
                        <div class="polls">
                            <div class="top">
                                <label class="title"> trending polls </label>
                                <label class="btn"> view all <i class="bx bx-chevron-right"></i></label>
                            </div>

                            <div class="bottom">
                                <!-- 
                                    WHERE I INTEND TO PUT THE SLIDER. ULIZA HIO MAMBO SHOKDE
                                -->
                            </div>

                        </div>
                        <!-- end polls and views section -->

                            <hr/>

                        <!-- govmt official approvals -->
                        <div class="views">

                            <div class="top">
                                <label class="title"> trending views </label>
                                <label class="btn"> view all <i class="bx bx-chevron-right"></i></label>
                            </div>

                            <div class="bottom">
                                
                                <!-- card 1 -->
                                <div class="card">
                                    <span> </span>

                                    <div class="image">
                                        <img src="https://cdn.pixabay.com/photo/2018/03/04/23/37/child-3199624_640.jpg" alt="view-image">
                                    </div>

                                    <div class="main-block">
                                        <label class="title"> title </label>
                                        <label class="description"> short decription</label>
                                        <label class="created-when"> 1 week ago </label>
                                        <p>
                                            <label class="action"> delete view </label>
                                        </p>
                                    </div>
                                </div>
                                <!-- end card 1 -->

                                <!-- card 2 -->
                                <!-- <div class="card">
                                    <span> </span>

                                    <div class="image">
                                        <img src="https://cdn.pixabay.com/photo/2018/03/04/23/37/child-3199624_640.jpg" alt="view-image">
                                    </div>

                                    <div class="main-block">
                                        <label class="title"> title </label>
                                        <label class="description"> short decription</label>
                                        <label class="created-when"> 1 week ago </label>
                                        <p>
                                            <label class="action"> delete view </label>
                                        </p>
                                    </div>
                                </div> -->
                                <!-- end card 2 -->

                            </div>

                        </div>
                        <!-- end govmt official approvals -->
            
                    </div>
                    <!-- end the main content div -->


                    <!-- start the secondary content div -->
                    <div class="secondary-content">

                        <!-- admin creds -->
                        <div class="credentials">
                            <div class="details">
                                <label class="name"> sir lancelot </label>
                                <label class="role"> admin </label>
                                <label class="id"> fesd9w8ohyw3ol </label>
                            </div>
                            <div class="image">
                                <img src="https://cdn.pixabay.com/photo/2015/02/19/13/15/man-642075_640.jpg" alt="admin-avatar">
                            </div>
                        </div>
                        <!-- end admin creds -->

                        <!-- begin approvals section -->
                        <div class="govmt-approvals">
                            <div class="top">
                                <label class="title"> awaiting approval </label>
                                <label class="btn"> view all <i class="bx bx-chevron-right"></i></label>
    
                            </div>

                            <div class="bottom">

                                <!-- cards to be listed here -->
                                <div class="card">

                                    <span> </span>

                                    <div class="image">
                                        <img src="https://cdn.pixabay.com/photo/2018/03/04/23/37/child-3199624_640.jpg" alt="view-image">
                                    </div>

                                    <div class="details">
                                        <label class="name"> kangata </label>
                                        <label class="id"> fwe78fy </label>
                                        <p class="actions">
                                            <label id="approve"> approve </label>
                                            <label id="deny"> deny </label>
                                        </p>
                                    </div>
                                    
                                </div>
                                <!-- end the card here -->

                                <!-- cards to be listed here -->
                                <div class="card">

                                    <span> </span>

                                    <div class="image">
                                        <img src="https://cdn.pixabay.com/photo/2018/03/04/23/37/child-3199624_640.jpg" alt="view-image">
                                    </div>

                                    <div class="details">
                                        <label class="name"> kangata </label>
                                        <label class="id"> fwe78fy </label>
                                        <p class="actions">
                                            <label id="approve"> approve </label>
                                            <label id="deny"> deny </label>
                                        </p>
                                    </div>
                                    
                                </div>
                                <!-- end the card here -->

                            </div>

                        </div>
                        <!-- end approvals section -->
                    </div>
                    <!-- end the secondary content div -->

               </div>
              <!-- end main content div -->
</div>
