<!-- <p>admin works!</p> -->

<div class="container">

            <!-- place the sidebar here -->
            <div #sidebar class="sidebar">

                <!-- top most section -->
                <div class="top">
                  <div class="logo">
                    <i class="bx bxl-codepen"></i>
                    <span> code commerce </span>
        
                  </div>
        
                  <!-- toggle button -->
                   <i (click)="showSidebar()" class="bx bx-menu" id="btn"></i>
                </div>
        
                <!-- user section -->
                <div class="user">
                  <img src="https://cdn.pixabay.com/photo/2015/02/19/13/15/man-642075_640.jpg" alt="user-avatar" class="user-img">
                  <div>
                    <p class="user-name"> mkuu </p>
                    <p class="user-role"> admin </p>
                  </div>
        
                </div>
        
                  <!-- list of menu items -->
                  <ul>
                
                    <li>
                        <a href="#">
                            <i class='bx bx-home-alt-2'></i>
                            <span class="nav-item"> Dashboard </span>
                        </a>
                        <span class="tooltip"> Dashboard </span>
                    </li>
        
                    <li>
                        <a href="#">
                            <i class='bx bx-search'></i>
                            <span class="nav-item"> Views </span>
                        </a>
                        <span class="tooltip"> Views </span>
                    </li>
        
                    <li>
                        <a href="#">
                            <i class='bx bx-bell'></i>
                            <span class="nav-item"> Polls </span>
                        </a>
                        <span class="tooltip"> Polls </span>
                    </li>
        
                    <li>
                        <a href="#">
                            <i class='bx bx-chat'></i>
                            <span class="nav-item"> Users </span>
                        </a>
                        <span class="tooltip"> Users </span>
                    </li>
        
                    <li>
                        <a href="#">
                            <i class='bx bx-user'></i>
                            <span class="nav-item">Profile </span>
                        </a>
                        <span class="tooltip"> Dashboard </span>
                    </li>
        
        
                    <li>
                        <a href="#">
                            <i class='bx bx-message-rounded-dots'></i>
                            <span class="nav-item">More </span>
                        </a>
                        <span class="tooltip"> Dashboard </span>
                    </li>
        
                    <li>
                        <a href="#">
                            <i class='bx bx-log-out-circle'></i>
                            <span class="nav-item"> Logout </span>
                        </a>
                        <span class="tooltip"> Dashboard </span>
                    </li>
        
                </ul>
        
        
        
              </div>
      
            <div class="main-content">
                The file you just created for this solution instructs the YUM package management
                system to utilize the official NGINX Open Source package repository. The commands
                that follow install NGINX Open Source from the official repository, instruct systemd to
                enable NGINX at boot time, and tell it to start NGINX now. If necessary, the firewall
                commands open port 80 for the transmission control protocol (TCP), which is the
                default port for HTTP. The last command reloads the firewall to commit the change
                Solution
                You can verify that NGINX is installed and check its version by using the following
                command:
                $ nginx -v
                nginx version: nginx/1.25.3
                As this example shows, the response displays the version.
                You can confirm that NGINX is running by using the following command:
                $ ps -ef | grep nginx
                root
                1738
                1 0 19:54 ? 00:00:00 nginx: master process
                nginx
                1739 1738 0 19:54 ? 00:00:00 nginx: worker process
                The ps command lists running processes. By piping it to grep, you can search for
                specific words in the output. This example uses grep to search for nginx. The result
                shows two running processes: a master and worker. If NGINX is running, you will
                always see a master and one or more worker processes. Note the master process is
                running as root, as, by default, NGINX needs elevated privileges in order to function
                properly. For instructions on starting NGINX, refer to the next recipe. To see how to
                start NGINX as a daemon, use the init.d or systemd methodologies.
                To verify that NGINX is returning requests correctly, use your browser to make a
                request to your machine or use curl. When making the request, use the machine’s IP
                address or hostname. If installed locally, you can use localhost as follows:
                $ curl localhost
                You will see the NGINX Welcome default HTML site.
            </div>
</div>
