<!-- <p>polls works!</p> -->

<div class="container">

    <!-- create the main page -->
     <!-- brief sneak peek of all existing views -->
     <div *ngIf="polls" class="brief">

        <div class="search">
            <input type="text" placeholder="Search...">
        </div>


        <!-- <div class="button-section" *ngIf="role === citizen"> -->
            <div class="button-section">
                <label id="my-incident"> my polls </label>
                <label (click)="addPoll()" id="add-incident"> add poll </label>
            </div>
            
        <div class="title">
            <h2> trending polls </h2>
        </div>

        <div class="bottom">

            <div *ngFor="let poll of polls">
                            <!-- card 1 -->
            <div class="card" id="{{poll.id}}">
                <!-- top part -->
                <div class="top-text">
                    <!-- <img src="https://images.unsplash.com/photo-1720475376136-bf9bf6c0c782?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwzfHx8ZW58MHx8fHx8" alt="header-image"> -->
                    <img class="floating" src="https://cdn.pixabay.com/photo/2018/03/04/23/37/child-3199624_640.jpg" alt="user-avatar">
                    <section>
                        <p class="title"> {{poll.title}} </p>
                        <!-- <p class="created-by"> {{poll.userId}} </p> -->
                        <p class="created-when"> {{poll.createdAt}} </p>
                    </section>
                </div>

                <!-- bottom part -->
                 <div class="bottom-text">

                    <section class="description">
                        <label> {{poll.description}} </label>
                        <p>
                            <span> vote </span>
                        </p>
                    </section>
                 </div>


            </div>
            <!-- end card 1 -->
            </div>


        </div>


     </div>

     <div class="detailed">



        <!-- <div class="button-section" *ngIf="role === 'citizen'"> -->
        <div *ngIf="this.role=='official'" class="button-section">
            <label id="my-incident"> my polls </label>
            <label (click)="addPoll()" id="add-incident"> add poll </label>
        </div>



        <!-- poll section card -->
        <div class="wrapper">
            <header>what do you think of the finance bill?</header>
            <div class="poll-area">
              <input type="checkbox" name="poll" id="opt-1">
              <input type="checkbox" name="poll" id="opt-2">
              <input type="checkbox" name="poll" id="opt-3">
              <input type="checkbox" name="poll" id="opt-4">
              <label for="opt-1" class="opt-1 choice">
                <div class="row">
                  <div class="column">
                    <span class="circle"></span>
                    <span class="text">HTML</span>
                  </div>
                  <span class="percent">30%</span>
                </div>
                <div class="progress" style='--w:30;'></div>
              </label>
              <label for="opt-2" class="opt-2 choice">
                <div class="row">
                  <div class="column">
                    <span class="circle"></span>
                    <span class="text">Java</span>
                  </div>
                  <span class="percent">20%</span>
                </div>
                <div class="progress" style='--w:20;'></div>
              </label>
              <label for="opt-3" class="opt-3 choice">
                <div class="row">
                  <div class="column">
                    <span class="circle"></span>
                    <span class="text">Python</span>
                  </div>
                  <span class="percent">40%</span>
                </div>
                <div class="progress" style='--w:40;'></div>
              </label>
              <label for="opt-4" class="opt-4 choice">
                <div class="row">
                  <div class="column">
                    <span class="circle"></span>
                    <span class="text">jQuery</span>
                  </div>
                  <span class="percent">10%</span>
                </div>
                <div class="progress" style='--w:10;'></div>
              </label>
            </div>

            <div *ngIf="this.role=='citizen'" class="priviledges">

                <!-- *ngIf="role === official"> -->
                <div class="action">
                    <label  (click)="submitPoll()" class="decision" id="submit-vote"> submit vote </label>
                </div>

                <!-- *ngIf="role === official"> -->
                <div class="action">
                    <label  class="decision" id="delete-poll"> delete vote </label>
                </div>

            
            </div>

          </div>
          <!-- close the poll card -->





    

     </div>
     

    <!-- end the main page -->

 </div>


 <!-- adding a view popup. to appear when button is clicked -->
<div  class="popup" id="popup-1">
    <div class="overlay"></div>
       <div class="content">
          <div class="close-btn" (click)="addPoll()">&times;</div>
          <h1> Add Poll </h1>
             <form>
                <!-- ----------------------- -->
                <div class="add-poll">
                    <div *ngIf="message" class="popup">
                       <label> {{message}} </label>
                    </div>
        
                    <form (ngSubmit)="createPoll()" [formGroup]="pollForm">
                       <fieldset>
                          <div>
                             <label> Title: </label>
                             <input formControlName="title" type="text">
                          </div>
                 
                          <div formArrayName="choices">
                             <label> Possible choices: </label>
                             <button (click)="addChoices()"> Add choice</button>
                             <div *ngFor="let choice of getChoices(); let i=index;">
                                <input type="text" formControlName="{{i}}">
                                <button> X </button>
                             </div>
                          </div>
                 
      
                          <button class="btn"> Add Poll </button>
                       </fieldset>
              
                    </form>
                 </div>
                <!-- ----------------------- -->
 
             </form>
       </div>
  </div>

<!-- adding a succesfully voted popup. to appear when button is clicked -->
<div  class="popup" id="popup-2">
    <div class="overlay"></div>
       <div class="content">
          <div class="close-btn" (click)="submitPoll()">&times;</div>
          <h1> Add Poll </h1>
             <form>
                yay. your poll has been submitted
 
             </form>
       </div>
  </div>





