/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
	/* --almost-white: hsl(0, 0%, 98%); */
	--medium-gray: hsl(0, 0%, 41%);
	--black: hsl(0, 0%, 0%);
	/* experimantal colors */
	--ligth-cyan: #E0F7FA;
	--white: #ffffff;
	--primary: #08BDBA;
	--navy-blue: #33353d;

	/* for the chatbot page */
	--body-bg: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    --msger-bg: #fff;
    --border: 2px solid #ddd;
    --left-msg-bg: #ececec;
    --right-msg-bg: #579ffb;

	/* ?sidebar */
	--text-color: #707070;

  
	--trans-02: all 0.2s ease;
	--trans-03: all 0.3s ease;
	--trans-04: all 0.4s ease;
	--trans-04: all 0.5s ease;
}

*{
	padding:0;
	margin: 0;
	box-sizing: border-box;
    /* font-family: "Epilogue", sans-serif; */
    font-size: 18px;
    font-family: "Noto Sans", sans-serif;
}

.container{
    width: 100%;
    gap:0;
}