<!-- <p>register-choice works!</p> -->

<div class="container">

    <!-- image on the left -->
     <div class="register-image">
        <img src=" " alt="signup-gif">
     </div>


    <!-- form on th right -->
     <div class="register-form">
        <!-- navigating back arrow -->
        <label>
            <i> WZ </i>
        </label>

        <form>
            <h2> Signup to citizenConnect360 </h2>
            <!-- <fieldset> -->
                <p class="google-button">
                    <button> Signup with Google </button>
                </p>
    
                <p class="divider">
                    or
                </p>
    
                <p class="email-button">
                    <button> Continue with email </button>
                </p>
    
                <p class="terms">
                    by creating an account you agree with our 
                    <a href="#">terms of Service</a>, <a href="#">privacy policy</a> 
                    and our default <a href="#">notification settings</a>
                </p>
    
                <p class="redirect-login">
                    Already have an account? <a href="#"> login? </a>
                </p>
    
    
            <!-- </fieldset> -->
        </form>
     </div>
</div>

