<!-- <p>register-email works!</p> -->


<div class="container">

    <!-- image on the left -->
     <div class="register-image">
        <img src=" " alt="signup-gif">
     </div>


    <!-- form on th right -->
     <div class="register-form">
        <!-- navigating back arrow -->
         <label>
            <i> WZ </i>
         </label>


        <form>
            <h2> Signup to citizenConnect360 </h2>
            <!-- <fieldset> -->
                <div class="form-group">
                    <label for="email"> Email </label>    <br/>
                    <input type="text" placeholder="Enter Email">
                </div>
    
                <div class="form-group">
                    <label for="username"> Username </label>    <br/>
                    <input type="text" placeholder="Enter Username">
                </div>
    
                <div class="form-group">
                    <label for="password"> Password </label>    <br/>
                    <input type="text" placeholder="Enter password">
                </div>

                <div class="form-group">
                    <input type="checkbox">
                    i agree with citizenConnect360's <a href="#">terms of Service</a>, 
                    <a href="#">privacy policy</a> and default <a href="#">notification 
                    settings</a>
                </div>

                <div class="form-group">
                    <button> 
                        Create Account
                    </button>
                </div>

                <p class="redirect-login">
                    Already have an account? <a href="#"> login </a>
                </p>
    
            <!-- </fieldset> -->
        </form>
     </div>

</div>




