<!-- <p>homepage works!</p> -->

<div class="container">

    <!-- begin the main hero page -->
     <div class="hero">

        <!-- this is where i will put the typewrite effect -->
         <div class="left">
            <span class="text first-text"> This is your </span>
            <span class="text second-text"> voice </span>
            <p class="text-explanation">
                Empowering citizens through education, incident reporting, and public polling.
                Our platform simplifies access to government documents, enables real-time
                incident reports, and fosters community engagement with AI-driven insights 
            </p>

            <label> get started </label>
         </div>

        <!-- main website image. decide if to use the gif or image -->
         <div class="right">
            <img src="https://www.svgrepo.com/show/492698/people-who-support.svg" alt="hero-image">
         </div>


     </div>
    <!-- end the main hero page -->

    <!-- begin about-us div -->
     <div class="about-us">

        <div class="top">
            <h3> who we are </h3>
            <h2> about us </h2>
        </div>

        <div class="cards-section">
                <!-- about-us cards -->
                <div class="card">
                    <span class="flash">  </span>
                    <div class="top">
                        <i class='bx bx-chalkboard bx-lg'></i>
                        <label> opinion sharing </label>
                    </div>
                    <div class="bottom">
                        <p>
                            Stay informed with curated citizen views and expert opinions.
                            Our platform highlights critical areas and fosters an informed
                            community through transparent and accessible information sharing.
                        </p>
                    </div>
                </div>

                <div class="card">
                    <span class="flash">  </span>
                    <div class="top">
                        <i class='bx bx-poll bx-lg ' ></i>
                        <label> participate in polls </label>
                    </div>
                    <div class="bottom">
                        <p>
                            Engage with your community by participating in polls to vote on 
                            local and national bills, giving you a voice in the legislative 
                            process and helping shape the future.
                        </p>
                    </div>
                </div>

                <div class="card">
                    <span class="flash">  </span>
                    <div class="top">
                        <i class='bx bx-user-voice bx-lg'></i>
                        <label> report incidents </label>
                    </div>
                    <div class="bottom">
                        <p>
                            Report incidents in real-time, allowing authorities to respond 
                            quickly and efficiently. Empower your community by keeping it 
                            informed and safe with a straightforward reporting system.
                        </p>
                    </div>
                </div>

                <div class="card">
                    <span class="flash">  </span>
                    <div class="top">
                        <i class='bx bx-code-alt bx-lg'></i>
                        <label> education via a.i </label>
                    </div>
                    <div class="bottom">
                        <p>
                            Leverage advanced AI technology to educate citizens by 
                            summarizing and presenting key information from government 
                            documents, making complex policies accessible and understandable.
                        </p>
                    </div>
                </div>
   
        </div>

   </div>
    <!-- end about-us div -->


    <!-- begin testimonials div.MAKE THIS A SLIDER -->
     <div class="testimonials">
        <div class="top">
            <h3> what our users are saying </h3>
            <h2> testimonials </h2>
        </div>

        <div class="slide-container swiper">
            <div class="slide-content">
                <div class="card-wrapper swiper-wrapper">
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                                <img src="https://cdn.pixabay.com/photo/2015/02/19/13/15/man-642075_640.jpg" alt="" class="card-img">
                            </div>
                        </div>

                        <div class="card-content">
                            <h2 class="name">David Dell</h2>
                            <p class="description">The lorem text the section that contains header with having open functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>

                            <button class="button">View More</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                                <img src="https://cdn.pixabay.com/photo/2017/11/19/07/30/girl-2961959_640.jpg" alt="" class="card-img">
                            </div>
                        </div>

                        <div class="card-content">
                            <h2 class="name">David Dell</h2>
                            <p class="description">The lorem text the section that contains header with having open functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>

                            <button class="button">View More</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                                <img src="https://cdn.pixabay.com/photo/2021/11/05/12/25/woman-6771278_640.jpg" alt="" class="card-img">
                            </div>
                        </div>

                        <div class="card-content">
                            <h2 class="name">David Dell</h2>
                            <p class="description">The lorem text the section that contains header with having open functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>

                            <button class="button">View More</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                                <img src="https://cdn.pixabay.com/photo/2018/03/04/23/37/child-3199624_640.jpg" alt="" class="card-img">
                            </div>
                        </div>

                        <div class="card-content">
                            <h2 class="name">David Dell</h2>
                            <p class="description">The lorem text the section that contains header with having open functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>

                            <button class="button">View More</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                                <img src="https://cdn.pixabay.com/photo/2016/01/07/04/32/girl-1125322_640.jpg" alt="" class="card-img">
                            </div>
                        </div>

                        <div class="card-content">
                            <h2 class="name">David Dell</h2>
                            <p class="description">The lorem text the section that contains header with having open functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>

                            <button class="button">View More</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                                <img src="https://cdn.pixabay.com/photo/2020/09/11/12/16/black-5562970_640.jpg" alt="" class="card-img">
                            </div>
                        </div>

                        <div class="card-content">
                            <h2 class="name">David Dell</h2>
                            <p class="description">The lorem text the section that contains header with having open functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>

                            <button class="button">View More</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                                <img src="https://cdn.pixabay.com/photo/2015/07/22/21/25/woman-856125_640.jpg" alt="" class="card-img">
                            </div>
                        </div>

                        <div class="card-content">
                            <h2 class="name">David Dell</h2>
                            <p class="description">The lorem text the section that contains header with having open functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>

                            <button class="button">View More</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                                <img src="https://cdn.pixabay.com/photo/2017/06/26/02/47/man-2442565_640.jpg" alt="" class="card-img">
                            </div>
                        </div>

                        <div class="card-content">
                            <h2 class="name">David Dell</h2>
                            <p class="description">The lorem text the section that contains header with having open functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>

                            <button class="button">View More</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                                <img src="https://cdn.pixabay.com/photo/2016/01/13/22/46/boy-1139042_640.jpg" alt="" class="card-img">
                            </div>
                        </div>

                        <div class="card-content">
                            <h2 class="name">David Dell</h2>
                            <p class="description">The lorem text the section that contains header with having open functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>

                            <button class="button">View More</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-button-next swiper-navBtn"></div>
            <div class="swiper-button-prev swiper-navBtn"></div>
            <div class="swiper-pagination"></div>
        </div>

     </div>
     <!-- end testimonials div -->

        <!-- begin trusted by div.REFER TO PAST PROJECT ON STYLING -->
        <div class="trustees">
            <h3>
                over 100+ trusted partners nationwide
            </h3>

            <div class="partners">
                <label>
                    <img src="../../assets/client-audiophile.svg" alt="trustee">
                </label>
        
                <label>
                    <img src="../../assets/client-databiz.svg" alt="trustee">
                </label>
        
                <label>
                    <img src="../../assets/client-maker.svg" alt="trustee">
                </label>
        
                <label>
                    <img src="../../assets/client-meet.svg" alt="trustee">
                </label>
            </div>

        </div>
    <!-- end trusted by div -->

    <!-- begin footer div -->
    <footer class="footer">
        <div class="top">
            <!-- far left section -->
            <div class="section section-1">
                <div class="logo">
                    <img src="../../assets/images/airplane-svgrepo-com.svg" alt="company logo">
                    <label>citizenConnect360<sup>0</sup></label>
                </div>
                <p class="desc">
                    your voice. your power. your platform.
                </p>

            </div>

            <!-- left section -->
            <div class="section section-2">
                <h2> Information </h2>
                <div>
                    <ul>
                        <li>
                            <i class='bx bx-chevron-right'></i>
                            <a href="#"> Home </a>
                        </li>
                        <li>
                            <i class='bx bx-chevron-right'></i>
                            <a href="#"> About Us </a>
                        </li>
                        <li>
                            <i class='bx bx-chevron-right'></i>
                            <a href="#"> Contact us </a>
                        </li>
                        <li>
                            <i class='bx bx-chevron-right'></i>
                            <a href="#"> Testimonials </a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- far right section -->
            <div class="section section-3">
                <h2 class="title"> Subscribe to our newsletter  </h2>
                <div class="newsletter">
                    <input type="text" placeholder="Your email">
                    <!-- <br/> -->
                    <button> Subscribe </button>
                    <p>
                        <input type="checkbox">
                        <span> send me updates on trending incidents</span>
                    </p>
                </div>
            </div>
        </div>

        <hr/>
        <div class="bottom">
            <div>
                <i class='bx bx-copyright'></i>
                <label> 2024. Tembea Africa Safaris. </label>
                <label>All Rights Reserved</label>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="social-icons">
                    <li><a class="facebook" href="#"><i class='bx bxl-facebook'></i></a></li>
                    <li><a class="twitter" href="#"><i class='bx bxl-twitter'></i></a></li>
                    <li><a class="dribbble" href="#"><i class='bx bxl-instagram'></i></a></li>
                    <li><a class="linkedin" href="#"><i class='bx bxl-linkedin'></i></a></li>   
                    <li><a class="whatsapp" href="#"><i class='bx bxl-whatsapp'></i></a></li>   
                    <li><a class="discord" href="#"><i class='bx bxl-discord'></i></a></li>   
                </ul>
            </div>
        </div>
    </footer>    
    <!-- end footer div -->

    
    <!-- end div -->
</div>
















