<!-- <p>homepage works!</p> -->

<div class="container">

    <!-- begin the main hero page -->
     <div class="hero">

        <!-- this is where i will put the typewrite effect -->
         <div class="left">
            <label>
                your voice | power | platform
            </label>
         </div>

        <!-- main website image. decide if to use the gif or image -->
         <div class="right">
            <img src="" alt="hero-image">
         </div>


     </div>
    <!-- end the main hero page -->

    <!-- begin about-us div -->
     <div class="about-us">

        <!-- about-us cards -->
         <div class="card">

         </div>
     </div>
    <!-- end about-us div -->

    <!-- begin testimonials div.MAKE THIS A SLIDER -->
     <div class="testimonials">

        <!-- card 1 -->
         <div class="card">

            <div class="top">
                <!-- user profile pics -->
                <div class="user-avatar">
                    <img src="" alt="avatar">
                </div>

                <!-- user names and username -->
                 <div class="user-name">
                    <label> username </label>
                    <label> role </label>
                 </div>
            </div>

            <div class="bottom">
                <p>
                    in the brightest day blah... blah....
                </p>

            </div>
         </div>
         <!-- end card1 -->

     </div>
     <!-- end testimonials div -->

        <!-- begin trusted by div.REFER TO PAST PROJECT ON STYLING -->
        <div class="trustees">

        <label>
            <img src="" alt="trustee">
        </label>

        <label>
            <img src="" alt="trustee">
        </label>

        <label>
            <img src="" alt="trustee">
        </label>

        <label>
            <img src="" alt="trustee">
        </label>

        </div>
    <!-- end trusted by div -->

    <!-- begin footer div -->
     <div class="footer">
        <!-- the top section -->
        <div class="top">

            <!-- logo section -->
            <div class="logo-section">

            </div>

            <!-- menu section -->
            <div class="menu-section">

            </div>

            <!-- newsletter sections -->
            <div class="newsletter">

            </div>

        </div>

        <hr/>

        <!-- the bottom section -->
        <div class="bottom">

        </div>

     </div>
    <!-- end footer div -->

    <i class='bx bx-user'></i>
    
</div>
















