<!-- <p>homepage works!</p> -->

<div class="container">

    <!-- begin the main hero page -->
     <div class="hero">

        <!-- this is where i will put the typewrite effect -->
         <div class="left">
            <span class="text first-text"> This is your </span>
            <span class="text second-text"> voice </span>
            <p class="text-explanation">
                Empowering citizens through education, incident reporting, and public polling.
                Our platform simplifies access to government documents, enables real-time
                incident reports, and fosters community engagement with AI-driven insights 
            </p>

            <label> get started </label>
         </div>

        <!-- main website image. decide if to use the gif or image -->
         <div class="right">
            <img src="https://www.svgrepo.com/show/492698/people-who-support.svg" alt="hero-image">
         </div>


     </div>
    <!-- end the main hero page -->

    <!-- begin about-us div -->
     <div class="about-us">

        <!-- about-us cards -->
         <div class="card">

         </div>
     </div>
    <!-- end about-us div -->

    <!-- begin testimonials div.MAKE THIS A SLIDER -->
     <div class="testimonials">

        <!-- card 1 -->
         <div class="card">

            <div class="top">
                <!-- user profile pics -->
                <div class="user-avatar">
                    <img src="" alt="avatar">
                </div>

                <!-- user names and username -->
                 <div class="user-name">
                    <label> username </label>
                    <label> role </label>
                 </div>
            </div>

            <div class="bottom">
                <p>
                    in the brightest day blah... blah....
                </p>

            </div>
         </div>
         <!-- end card1 -->

     </div>
     <!-- end testimonials div -->

        <!-- begin trusted by div.REFER TO PAST PROJECT ON STYLING -->
        <div class="trustees">
            <h3>
                over 100+ trusted partners nationwide
            </h3>

            <div class="partners">
                <label>
                    <img src="../../assets/client-audiophile.svg" alt="trustee">
                </label>
        
                <label>
                    <img src="../../assets/client-databiz.svg" alt="trustee">
                </label>
        
                <label>
                    <img src="../../assets/client-maker.svg" alt="trustee">
                </label>
        
                <label>
                    <img src="../../assets/client-meet.svg" alt="trustee">
                </label>
            </div>

        </div>
    <!-- end trusted by div -->

    <!-- begin footer div -->
    <footer class="footer">
        <div class="top">
            <!-- far left section -->
            <div class="section section-1">
                <div class="logo">
                    <img src="../../assets/images/airplane-svgrepo-com.svg" alt="company logo">
                    <label>citizenConnect360<sup>0</sup></label>
                </div>
                <p class="desc">
                    your voice. your power. your platform.
                </p>

            </div>

            <!-- left section -->
            <div class="section section-2">
                <h2> Information </h2>
                <div>
                    <ul>
                        <li>
                            <i class='bx bx-chevron-right'></i>
                            <a href="#"> Home </a>
                        </li>
                        <li>
                            <i class='bx bx-chevron-right'></i>
                            <a href="#"> About Us </a>
                        </li>
                        <li>
                            <i class='bx bx-chevron-right'></i>
                            <a href="#"> Contact us </a>
                        </li>
                        <li>
                            <i class='bx bx-chevron-right'></i>
                            <a href="#"> Testimonials </a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- far right section -->
            <div class="section section-3">
                <h2 class="title"> Subscribe to our newsletter  </h2>
                <div class="newsletter">
                    <input type="text" placeholder="Your email">
                    <!-- <br/> -->
                    <button> Subscribe </button>
                    <p>
                        <input type="checkbox">
                        <span> send me updates on trending incidents</span>
                    </p>
                </div>
            </div>
        </div>

        <hr/>
        <div class="bottom">
            <div>
                <i class='bx bx-copyright'></i>
                <label> 2024. Tembea Africa Safaris. </label>
                <label>All Rights Reserved</label>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="social-icons">
                    <li><a class="facebook" href="#"><i class='bx bxl-facebook'></i></a></li>
                    <li><a class="twitter" href="#"><i class='bx bxl-twitter'></i></a></li>
                    <li><a class="dribbble" href="#"><i class='bx bxl-instagram'></i></a></li>
                    <li><a class="linkedin" href="#"><i class='bx bxl-linkedin'></i></a></li>   
                    <li><a class="whatsapp" href="#"><i class='bx bxl-whatsapp'></i></a></li>   
                    <li><a class="discord" href="#"><i class='bx bxl-discord'></i></a></li>   
                </ul>
            </div>
        </div>
    </footer>    
    <!-- end footer div -->

    
    <!-- end div -->
</div>
















