.container{
    display: flex;
    /* margin: 1rem; */
    width:100%;
    /* height: calc(100vh - 7vh); */
    /* background-color: yellow; */
}

.login-image{
    width: 35%;
    overflow: hidden;
}

.main-section{
    /* background-color: teal; */
    width: 65%;
    padding: 1rem;
}

.main-section .back-arrow i{
    border: 2px solid;
    border-radius: 50%;
}

.login-form{
    /* background-color: red; */
    padding: 2rem 4rem;
    /* border: 1px solid black; */
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    gap: .7rem;
}

.login-form h2{
    font-size: larger;
    display: flex;
    justify-content: left;
    margin-bottom: 1rem;
}

.login-form .google-button{
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form .google-button button{
    padding: .7rem;
    width: 70%;
    margin: 0px auto;
}

.login-form .divider{
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
}

.login-form .form-group{
    /* background-color: red; */
    padding:.4rem;
    /* margin: 0px auto;
    width: 90%; */
}

.login-form .form-group label{
    font-weight: 500;
    font-size: larger;
    margin: 0px auto;

}

.login-form .form-group input{
    width: 65%;
    padding: .4rem;
    border: 1px solid;    
    border-radius: 10px;
}

.terms input{
    height: .7rem;
    width: .7rem;
}

.terms label,
.terms a{
    font-size: small;
    text-align: center;
    text-transform: capitalize;
    text-align: center;
    /* width: 10%; */
}

.form-group button{
    padding: .4rem;
    width: 50%;
    margin: 0px auto;
    display: flex;
    justify-content: center;
}

.login-form .redirect-login{
    margin-top: 1rem;
    text-transform: capitalize;
    text-align: center;
    color: var(--medium-gray);
}



/* ****************************** */
/* for displaying form validation */
/* ****************************** */

.form-group input:focus{
    /* helps prevent overlap with error and succes outline */
    outline: 0;
}

.register-form .form-group input.ng-invalid.ng-touched{
    border: 2px solid red !important;
}

.error{
    color: red;
    font-size: small;
    font-weight: normal;
    justify-content: center;
    font-style: italic;
}
