<!-- <p>login-email works!</p> -->

<div class="container">

    <!-- image on the left -->
     <div class="login-image">
        <img src=" " alt="login-gif">
     </div>


    <!-- form on th right -->
     <div class="login-form">
        <!-- navigating back arrow -->
        <label>
            <i> WZ </i>
        </label>

        <form>
            <h2> Login to citizenConnect360 </h2>
            <!-- <fieldset> -->

                <div class="form-group">
                    <label for="email"> Email </label>    <br/>
                    <input type="text" placeholder="Enter Email">
                </div>

                <div class="form-group">
                    <label for="password"> Password </label>    <br/>
                    <input type="text" placeholder="Enter password">
                </div> 
                
                <div class="form-group">
                    <label>
                        <a href="#"> Forgot password? </a>
                    </label>
                </div>

                <div class="form-group">
                    <button> 
                        Login
                    </button>
                </div>
    
                <div class="form-group">
                    <input type="checkbox">
                    i agree with citizenConnect360's <a href="#">terms of Service</a>, 
                    <a href="#">privacy policy</a> and default <a href="#">notification 
                    settings</a>
                </div>



                <p class="redirect-login">
                    Don't have an account yet? <a href="#"> Signup </a>
                </p>

                <p class="divider">
                    or
                </p>

                <p class="google-button">
                    <button> Login with Google </button>
                </p>
    

    
    
            <!-- </fieldset> -->
        </form>
     </div>
</div>

