<!-- <div class="container">

    <div #slideContainer class="slide">

        
        <div class="item" style="background-image: url(https://i.ibb.co/qCkd9jS/img1.jpg);">
            <div class="content">
                <div class="name">Views</div>
                <div class="des">
                    Stay informed with curated citizen views and expert opinions.
                    Our platform highlights critical areas and fosters an informed
                    community through transparent and accessible information sharing.
                </div>
                <button>See More</button>
            </div>
        </div>

        <div class="item" style="background-image: url(https://i.ibb.co/jrRb11q/img2.jpg);">
            <div class="content">
                <div class="name">Incidents</div>
                <div class="des">
                    Report incidents in real-time, allowing authorities to respond 
                    quickly and efficiently. Empower your community by keeping it 
                    informed and safe with a straightforward reporting system.
                </div>
                <button>See More</button>
            </div>
        </div>

        <div class="item" style="background-image: url(https://i.ibb.co/NSwVv8D/img3.jpg);">
            <div class="content">
                <div class="name">Polls</div>
                <div class="des">
                    Engage with your community by participating in polls to vote on 
                    local and national bills, giving you a voice in the legislative 
                    process and helping shape the future.
                </div>
                <button>See More</button>
            </div>
        </div>

        <div class="item" style="background-image: url(https://i.ibb.co/Bq4Q0M8/img4.jpg);">
            <div class="content">
                <div class="name">A.I Education </div>
                <div class="des">
                    Leverage advanced AI technology to educate citizens by 
                    summarizing and presenting key information from government 
                    documents, making complex policies accessible and understandable.
                </div>
                <button>See More</button>
            </div>
        </div>


    </div>

    <div class="button">
        <button #prevButton class="prev"><i class="fa-solid fa-arrow-left"></i></button>
        <button #nextButton class="next"><i class="fa-solid fa-arrow-right"></i></button>
    </div>

</div> -->


<div class="container">
    <div #carousel class="carousel">

        <div #list class="list">

            <div class="item" style="background-image: url(https://cdn.pixabay.com/photo/2015/10/06/04/44/food-973852_640.jpg);">
                <div class="content">
                    <div class="title">views</div>
                    <div class="name">EAGLE</div>
                    <div class="des">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis culpa similique consequuntur, reprehenderit dicta repudiandae.</div>
                    <div class="btn">
                        <button>See More</button>
                        <button>Subscribe</button>
                    </div>
                </div>
            </div>

            <div class="item" style="background-image: url(https://cdn.pixabay.com/photo/2020/06/02/15/11/black-lives-matter-5251408_640.jpg);">
                
                <div class="content">
                    <div class="title">incidents</div>
                    <div class="name">OWL</div>
                    <div class="des">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis culpa similique consequuntur, reprehenderit dicta repudiandae.</div>
                    <div class="btn">
                        <button>See More</button>
                        <button>Subscribe</button>
                    </div>
                </div>

            </div>

            <div class="item" style="background-image: url(https://cdn.pixabay.com/photo/2017/08/15/10/43/polling-station-2643466_640.jpg);">

                <div class="content">
                    <div class="title">polls</div>
                    <div class="name">CROW</div>
                    <div class="des">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis culpa similique consequuntur, reprehenderit dicta repudiandae.</div>
                    <div class="btn">
                        <button>See More</button>
                        <button>Subscribe</button>
                    </div>
                </div>

            </div>

            <div class="item" style="background-image: url(https://cdn.pixabay.com/photo/2016/11/12/23/34/learn-1820039_640.jpg);">
                
                <div class="content">
                    <div class="title">A.I Learning</div>
                    <div class="name">BUTTERFLY</div>
                    <div class="des">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis culpa similique consequuntur, reprehenderit dicta repudiandae.</div>
                    <div class="btn">
                        <button>See More</button>
                        <button>Subscribe</button>
                    </div>
                </div>

            </div>

        </div>

        <!--next prev button-->
        <div class="arrows">
            <button #prevBtn class="prev"><</button>
            <button #nextBtn class="next">></button>
        </div>


        <!-- time running -->
        <div #runningTime class="timeRunning"></div>

    </div>
</div>