<div class="container">
    <div *ngIf="this.role=='official' || this.role=='citizen'" #carousel class="carousel" >

        <div #list class="list">

            <div class="item" style="background-image: url(https://images.unsplash.com/photo-1624480839864-3461fce2abfe?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8cG9saWNlJTIwcmVwb3J0fGVufDB8fDB8fHww);">
                <div class="content">
                    <!-- <div class="title">views</div> -->
                    <div class="name">share views</div>
                    <div class="des">
                        Stay informed with curated citizen views and expert opinions.
                        Our platform highlights critical areas and fosters an informed
                        community through transparent and accessible information sharing.
                    </div>
                    <div class="btn">
                        <button routerLink="/views/:id" >See More</button>
                        <!-- <button>Subscribe</button> -->
                    </div>
                </div>
            </div>

            <div class="item" style="background-image: url(https://images.unsplash.com/photo-1587817020884-6a2f41f97e38?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fHJlcG9ydCUyMGluY2lkZW50fGVufDB8fDB8fHww);">
                
                <div class="content">
                    <!-- <div class="title">incidents</div> -->
                    <div class="name">incident reporting</div>
                    <div class="des">
                        Report incidents in real-time, allowing authorities to respond 
                        quickly and efficiently. Empower your community by keeping it 
                        informed and safe with a straightforward reporting system.
                    </div>
                    <div class="btn">
                        <button routerLink="/incidents/:id">See More</button>
                        <!-- <button>Subscribe</button> -->
                    </div>
                </div>

            </div>

            <div class="item" style="background-image: url(https://images.unsplash.com/photo-1494172892981-ce47ca685eea?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8dGFrZSUyMHBvbGx8ZW58MHx8MHx8fDA%3D);">

                <div class="content">
                    <!-- <div class="title">polls</div> -->
                    <div class="name">poll participation</div>
                    <div class="des">
                        Engage with your community by participating in polls to vote on 
                        local and national bills, giving you a voice in the legislative 
                        process and helping shape the future.
                    </div>
                    <div class="btn">
                        <button routerLink="/polls/:id">See More</button>
                        <!-- <button>Subscribe</button> -->
                    </div>
                </div>

            </div>

            <div class="item" style="background-image: url(https://images.unsplash.com/photo-1495055154266-57bbdeada43e?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8YWklMjBsZWFybmluZ3xlbnwwfHwwfHx8MA%3D%3D);">
                
                <div class="content">
                    <!-- <div class="title">A.I Learning</div> -->
                    <div class="name">artificial intelligence</div>
                    <div class="des">
                        Leverage advanced AI technology to educate citizens by 
                        summarizing and presenting key information from government 
                        documents, making complex policies accessible and understandable.
                        </div>
                    <div class="btn">
                        <button routerLink="/educate">See More</button>
                    </div>
                </div>

            </div>

        </div>

        <!--next prev button-->
        <div class="arrows">
            <button #prevBtn class="prev"><</button>
            <button #nextBtn class="next">></button>
        </div>


        <!-- time running -->
        <div #runningTime class="timeRunning"></div>

    </div>


    <!-- admin dashboard for managing roles -->
     <div *ngIf="this.role=='admin'">
        
        <div *ngIf="users" class="admin-dash" >

            <!-- <div *ngFor="let user of users | searchUser:searchThis" class="users"> -->
            <div *ngFor="let user of users" class="users">
            <!-- user image url -->
            <div class="left" id="{{user.id}}">
               <img src="https://i.pinimg.com/236x/7a/a4/66/7aa466056aad44cd22cec1ab9ab6699f.jpg" alt="avatar">
               <!-- <img src="{{user.imageUrl}}" alt="avatar"> -->
            </div>
         
            <!-- main content -->
             <div class="right">
               <!-- top -->
                <div class="content">
                  <p id="id" > ID: {{user.id}} </p>
                  <p>
                     <label> Name: </label><label id="name"> {{user.name}} </label>
                  </p>
                  <p>
                     <label> Email: </label><label id="email"> {{user.email}}</label>
                  </p>
                </div>
               <!-- botton with buttons -->
                <div class="buttons">
                  <!-- <button (click)="updatePopup()"> Update </button> -->
                  <button> Delete </button>
                </div>
             </div>
      
      
         </div>
      
      
        </div>
     </div>
</div>